

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/pexels-cup-of-couple-7303151.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img-user {
    border-radius: 50%;
}

.main-title {
    text-align: center;
    padding-bottom: 100px;
    color: #fff;
    text-shadow: 7px 10px 6px #888888;
}


.card-title {
    padding: 0px 50px 18px 50px;
    
}

.cards-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card-maker {

    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    margin: 20px;
    min-height: 200px;
    max-width: fit-content;
    align-items: stretch;
    justify-content: center;
    box-shadow: 5px 10px 8px rgb(49, 46, 46);
    border-radius: 10px;
    background-color: #fff;
}

#cardmk {
    
    border: 1px solid beige;    
}

.main-section {

    
    
}

/* Estilizando os INPUTS */

.card-maker-input {

    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    margin: 20px;
    min-height: 200px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 8px rgb(49, 46, 46);
    border-radius: 10px;
    background-color: #fff;

}

.card-title-input {

    display: flex;
    width: 210px;
    min-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #888888;
    border: 1px solid #888888;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
 
}

#formFile {
    width: 300px;
    margin-top: 20px;
}

#nome-input:active {
    
}

#mainbtn {

    min-height: 30px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 7px;

}


.card-img {

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


}

.card-img > label {
    padding: 10px;
    color: #888888
}

.logo-img {
   width: 100px;
   padding: 5px;
   margin-bottom: 5px;
  
}

.logo-stage {
    width: 120px;
    padding: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 260px;
}

.logo-img:hover .logo-stage  {
    background-image: url(./images/userplus.png);
}